Checks: '-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  modernize-avoid-c-arrays'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
ExtraArgsBefore: [
  '-fms-extensions', '-fms-compatibility', '-D_CRT_USE_BUILTIN_OFFSETOF',
  '-WCL4', '-Wpedantic', '-Wthread-safety', '-Wmicrosoft', '-Wdocumentation', '-Wdocumentation-pedantic',
  '-fno-delayed-template-parsing', '/clang:-fcomment-block-commands=internal,hideinitializer'
  ]
CheckOptions: { }
